.user-posts-page {
  background-color: #f5f5f5;
  color: #333;
  padding: 2rem;
  box-sizing: border-box;
}

.cover-photo {
  width: 100%;
  height: 300px;
  background-color: #60a7ff;
  border-radius: 10px;
}

.cover-photo img {
  width: 100%;
  height: 100%;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-section {
  position: relative;
  width: 240px;
  height: 240px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  margin-left: 9%;
  margin-top: -60px; /* Overlapping the cover photo */
  border: 3px solid white;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ccc; 
  background-size: cover;
  background-position: center;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-info {
  text-align: left;
  margin-top: -40px;
  margin-right: 15%;
  margin-left: 1rem;
}

.user-info h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.user-info p {
  color: #888;
}

.user-posts {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .user-info {
    text-align: center;
    margin: 20px 0;
  }

  .profile-section {
    margin-left: 0;
    margin-right: 0;
    margin-top: -90px;
    align-self: center;
  }

  .cover-photo {
    width: 100%;
    max-height: 200px;
  }

  .profile-container {
    flex-direction: column;
    justify-content: center;
  }
}
