.landing-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.landing__left-section {
  flex: 1;
  background-color: rgb(0, 0, 46);
  color: rgb(210, 146, 255);
  padding: 4rem;
  box-sizing: border-box;
}

.welcome-text h1 {
  font-size: 2rem;
  margin-bottom: 9rem;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.welcome-text p {
  font-size: 3rem;
  font-weight: bolder;
}

.landing__right-section {
  flex: 1;
  background-color: #000;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started {
  text-align: center;
  color: white;
}

.get-started h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.landing__login-button,
.landing__signup-button {
  padding: 1rem 2rem;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgb(60, 70, 255);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .landing-page {
    flex-direction: column;
  }

  .landing__left-section,
  .landing__right-section {
    flex: none;
    width: 100%;
    padding: 2rem;
  }

  .buttons {
    flex-direction: column;
  }

  .landing__left-section {
    min-height: 66%;
  }
  .landing__right-section {
    min-height: 34%;
  }

  .landing__login-button,
  .landing__signup-button {
    width: 100%;
  }
}
