/* Landing Page Styles */
.landing-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left-section {
  flex: 1;
  background-color: rgb(0, 0, 46);
  color: rgb(210, 146, 255);
  padding: 4rem;
  box-sizing: border-box;
}

.welcome-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.right-section {
  flex: 1;
  background-color: #000;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started {
  text-align: center;
  color: white;
}

.get-started h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.login-button,
.signup-button {
  padding: 1rem 2rem;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button {
  background-color: rgb(60, 70, 255);
}

.signup-button {
  background-color: rgb(60, 70, 255);
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
  .landing-page {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    flex: none;
    width: 100%;
    padding: 2rem;
  }

  .buttons {
    flex-direction: column;
  }

  .login-button,
  .signup-button {
    width: 100%;
  }
}
