.signup-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.singup__left-section {
  flex: 1;
  background-color: rgb(60, 70, 255);
  color: white;
  padding: 4rem;
  box-sizing: border-box;
}

.signup-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.signup__right-section {
  flex: 1;
  background-color: white;
  padding: 4rem;
  padding-top: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  text-align: center;
  width: 80%;
}

.signup-form h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.input-container {
  margin-bottom: .5rem;
}

input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid rgb(210, 146, 255);
  border-radius: 10px;
}

.signup-button {
  padding: 1rem 2rem;
  border: none;
  background-color: rgb(210, 146, 255);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 1rem;
}

.signup_action{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .signup-page {
    flex-direction: column;
  }

  .singup__left-section{
    flex: 0.3;
    width: 100%;
    padding: 2rem;
  }
  .singup__right-section{
    flex: 1.7;
    width: 100%;
  }
  .signup-form h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }

}
