.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #333;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-text {
  text-decoration: none;
  color: rgb(82, 15, 133);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #60a7ff;
}
