.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(206.67deg 13.43% 13.14%);
  color: white;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-text {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffc107;
}
